@import "./variables";

.Header {
  background-color: transparent;
  width: 100%;

  &__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;

    @media (max-width: 900px) {
      padding-top: 2rem;
      flex-wrap: wrap;
    }

    @media (max-width: 600px) {
      padding: 2rem;
      flex-wrap: wrap;
    }
  }

  &__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: $large-font-size;
    font-weight: 600;
    color: $color-white;

    @media (max-width: 900px) {
      font-size: 2rem;
    }

    @media (max-width: 600px) {
      font-size: 1.2rem;
    }
  }

  &__primary {
    color: $color-primary;
  }

  &__middle {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    padding-top: 4rem;
   }
 
  &__images {

    @media(min-width:1500px) {
      min-width: 100%;
    }
  }

  &__bottom {
    background-color: $color-black;
    width: 100%;
    padding-top: 4rem;


    @media (max-width: 900px) {
     
    }
  }

  &__container2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    padding: 0rem 1rem;
    justify-content: space-between;

    @media (max-width: 900px) {
      justify-content: center;
    }
  }

  &__process {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 17rem;
    border-bottom: 0.4rem solid transparent;

    @media (man-width: 900px) {
      gap: 0.5rem;  
    }
  }

  &__process:hover {
    border-bottom: 0.4rem solid $color-primary;
  }

  &__explore {
    max-width: 16rem;
    min-height: 5rem;
    color: $color-white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: $default-font-size;
    line-height: 1.5rem;

    @media (man-width: 600px) {
     font-size: 0.8rem;
    }

    @media (max-width: 900px) {
      max-width: 14rem;
      font-size: 1rem;
    }
  }

  &__description {
    min-height: 7rem;
    max-width: 16rem;
    color: $color-white;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    font-size: 0.9rem;

    @media (max-width: 600px) {
      font-size: 0.6rem;
    }

    @media (max-width: 900px) {
      font-size: 0.8rem;
    }
  }

  &__vector {
    height: 2.5rem;
    width: 2.5rem;
  }

  &__button {
    height: 3rem;
    display: flex;
    cursor: pointer;
    border: none;
    color: $color-primary;
    background-color: transparent;
  }

  &__arrow {
    padding-left: 0.4rem;
    padding-top: 0.1rem;
  }
}
