//Grid variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Color variables

$color-primary: #ff8c27;

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #30b9d9;

$color-secondary: #889099;
$color-secondary-dark: #282a37;
$color-secondary-light: #e8f0f3;

// font sizes
$small-font-size: 1rem;
$default-font-size: 1.2rem;
$large-font-size: 2.5rem;
